/* Settings */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: #1c1c1c;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

/* Divs */
.section {
  display: inline-block;
  width: 100%;
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content {
  padding-left: 2rem;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .content {
    padding-left: 10rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }

}


/* font style */
.letter-spaced {
  letter-spacing: 2px;
}
.letter-spaced-para p {
  letter-spacing: 1.6px;
  line-height: 1.5;
}
.size20 {
  font-size: 1.25rem;
  font-weight: 400;
}
p {
  line-height: 1.2;
}

/* Elements: button, heading etc */
.btn {
  height: 3rem;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.21;
  letter-spacing: 1.4px;
  text-align: left;
  color: #ffffff;
  background-color: #1c1c1c;
  display: inline-block;
  text-decoration: none;
  line-height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 #1c1c1c;
}
.btn:focus, .btn:hover {
  box-shadow: 0 5px 10px 0 #1c1c1c;
}

.heading {
position: relative;
text-align: center;
}
.heading h1 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 3.2px;
  line-height: 1.19;
  color: #e65a38;
  margin: 2rem 0 5rem;
}
.battery {
  height: 2rem;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .heading h1 {
    font-size: 3rem;
  }
  .battery {
    height: 3rem;
  }
}

/* Visibility */
.desktop-only {
  display: none;
}
.mobile-only {
  display: block;
}
@media (min-width: 768px) {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
}

/* Header */

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 1px 2px #888;
}
.header img {
  height: 3rem;
}
@media (min-width: 768px) {
  .header > .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .header a {
    display: inline-block;
    max-width: 200px;
    text-align: center;
    justify-self: flex-end;
  }

}

/* Screen 1: moto */
.moto {
  margin-top: 5rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #e65a38;
  line-height: 1.75;
  letter-spacing: 2.4px;
  margin-bottom: 2rem;
}
.moto span {
  font-weight: 700;
}

.pitch-video {
  height: 315px;
  width: 560px;
  max-width: 100%;
  margin: 3rem 0;
}
.fact {
  text-align: center;
  margin: 1rem 0 2rem;
}
.fact > p {
  line-height: 3rem;
}
.fact span {
  font-weight: 700;
}
.fact-heading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.75;
  color: #e65a38;
  letter-spacing: 2.4px;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  margin-left: -1.5rem;
  margin-bottom: 0;
  z-index: 100;
}
.fact-heading-bg {
  position: absolute;
  z-index: 99;
  bottom: -160px;
  left: 50%;
  margin-left: -150px;
  width: 100%;
  max-width: 300px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .grid-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .moto {
    margin-top: 7rem;
  }
  .moto img {
    height: 2rem;
  }
  .pitch-video {
    margin-top: 5rem;
    height: 280px;
  }
  .fact {
    text-align: left;
    display: flex;
    align-items: center;
  }
  .fact h1 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    line-height: 150px;
    text-align: center;
    color: #e65a38;
    background-color: #1c1c1c;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 2px;
    float: left;
    margin-right: 2rem;
  }

}

@media (min-width: 992px) {
  .moto {
    font-size: 2.5rem;
    line-height: 1.4;
    margin-top: 7rem;
  }
  .pitch-video {
    margin-top: 5rem;
    height: 315px;
  }
  .fact h1 {
    height: 200px;
    width: 200px;
    line-height: 200px;
  }

}


/* Screen 2: Solutions */
.list-items img {
  height: 2rem;
  float: left;
  margin-right: 1rem;
}
.list-items p {
  line-height: 2rem;
  display: inline-block;
  width: 100%;
}

/* Screen 3: Team Members */
.team-members {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.team-members .member {
  text-align: center;
  margin-bottom: 4rem;
}
.team-members .member:nth-child(3),
.team-members .member:nth-child(4) {
  margin-bottom: 0;
}
.team-members .member img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.team-members p {
  font-size: 1rem;
  line-height: 1.33;
  font-weight: 300;
}
.team-members span {
  font-weight: 400;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .team-members {
    grid-template-columns: repeat(4, 1fr);
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .team-members .member img {
    height: 7.5rem;
    width: 7.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .team-members {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}


/* Scrren 4: Contact */
address {
  margin-bottom: 5rem;
}
address p {
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
}

address img {
  float: left;
  height: 2rem;
  margin-right: 1rem;
}

/* Footer */
.footer {
  text-align: center;
}
.footer a {
  margin-bottom: 1rem;
}
.footer p {
  line-height: 1.5;
}
.copy {
  margin: 1rem 0;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}
