<template>
<div>
  <div class="header">
          <div class="container">
              <img src="~/assets/img/logo.svg">
              <a href="https://drive.google.com/file/d/1csT36rG98IPTPkVwE0wsEczD11dMDJ8K/view" class="btn desktop-only">Download Presentation</a>
          </div>
  </div>


      <div class="container">

          <div class="section grid-column">
              <div class="colum-one">
                  <h1 class="moto">
                      <span>E</span>rase <br> the <span>T</span>ension <br> of going <span>P</span>owerless<img class="battery" src="~/assets/img/lighting.svg" alt="battery">
                  </h1>
                  <a href="https://drive.google.com/file/d/1csT36rG98IPTPkVwE0wsEczD11dMDJ8K/view" class="btn">Download Presentation</a>
              </div>

              <iframe class="pitch-video desktop-only" width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/F0A-hD7tRFc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </div> <!-- section-end -->

          <div class="section">
              <div class="fact letter-spaced size20 content">
                  <h1 class="desktop-only">
                      Fact
                  </h1>
                  <p>Increasing <span>smartphones</span>  <br>
                  Require even more <span>power</span> <br>
                  Search for <span>sockets</span> and <span>cords</span> <br>
                  Lack of Charging <span>facility</span></p>
              </div>



              <h1 class="fact-heading mobile-only">Fact</h1>
              <img class="fact-heading-bg mobile-only" src="~/assets/img/circle.svg" alt="image">
          </div> <!-- section-end -->


          <div class="section">
              <div class="heading">
                  <h1>Solution<img class="battery" src="~/assets/img/lighting.svg" alt="battery"></h1>

              </div>
              <div class="content list-items letter-spaced size20">
                  <p><img src="~/assets/img/power-bank.svg" alt="icon"> Rent a Power-Bank</p>

                  <p><img src="~/assets/img/car.svg" alt="icon"> EV Charging</p>

                  <p><img src="~/assets/img/group.svg" alt="icon"> Group Rent</p>

                  <p><img src="~/assets/img/smile.svg" alt="icon"> Fast and Simple</p>
              </div>
          </div>  <!-- section-end -->

          <div class="section">
              <div class="heading">
                  <h1>Market<img class="battery" src="~/assets/img/lighting.svg" alt="battery"></h1>

              </div>

              <div class="content list-items letter-spaced-para size20">
                  <p><img src="~/assets/img/market-analysis.svg" alt="icon"> A new fast-growing business</p>

                  <p><img src="~/assets/img/market-analysis.svg" alt="icon">Demand in dozens of cities in Asia, USA, EU and China alone has over <strong>400 million </strong> users in the Power-Bank rental market</p>

                  <p><img src="~/assets/img/market-analysis.svg" alt="icon"><strong>USD 1.14 Billion</strong>  rental transactions in the year 2019 in China </p>

                  <p><img src="~/assets/img/market-analysis.svg" alt="icon"> <strong>31.9 million </strong>smart phone user in <strong>Bangladesh</strong> </p>
                  <p><img src="~/assets/img/market-analysis.svg" alt="icon">The growth of <strong>BEVS</strong> in Bangladesh was continue to rise from estimated number of <strong>397, 000</strong>in 2013 to about <strong>1,500,000</strong> in 2019.</p>

                  <p><img src="~/assets/img/market-analysis.svg" alt="icon"> The <strong>travel and tourism industry</strong> in Bangladesh is also booming.It represents almost <strong>4.4%</strong>of <strong>GDP</strong></p>
                   <p><img src="~/assets/img/market-analysis.svg" alt="icon"> User penetration of <strong>Electric Vehicles(EV)</strong> will be high in future through government initiative <strong>“environment-friendly electricity”</strong> and investment by several automobile companies.
</p>



              </div>
          </div> <!-- section-end -->


          <div class="section">
              <div class="heading">
                  <h1>Team<img class="battery" src="~/assets/img/lighting.svg" alt="battery"></h1>

              </div>

              <div class="team-members">
                  <div class="member">
                      <img src="~/assets/img/sajib.jpg" srcset="~/assets/img/sajib@2x.jpg 2x, ~/assets/img/sajib@3x.jpg 3x" class="sajib">
                      <p> <span>Sajib Chakma</span>  <br> Co-founder & CEO <br> Backend Developer</p>
                  </div>

                  <div class="member">
                      <img src="~/assets/img/sakib.jpg" srcset="~/assets/img/sakib@2x.jpg 2x, ~/assets/img/sakib@3x.jpg 3x" class="sajib">
                      <p> <span>Nazmus Sakib Khan</span> <br> Co-founder <br> VP of R&D</p>
                  </div>

                  <div class="member">
                      <img src="~/assets/img/nabarun.jpg" srcset="~/assets/img/nabarun@2x.jpg 2x, ~/assets/img/nabarun@3x.jpg 3x" class="sajib">
                      <p><span>Nabarun Chakma</span>  <br> VP of Engineering</p>
                  </div>

                  <div class="member">
                      <img src="~/assets/img/prasad.jpg" srcset="~/assets/img/prasad@2x.jpg 2x, ~/assets/img/prasad@3x.jpg 3x" class="sajib">
                      <p><span>Manasvi Prasad</span> <br> Co-founder <br> Front-end UI Developer</p>
                  </div>
              </div>
          </div> <!-- section-end -->

          <div class="section">
              <div class="heading">
                  <h1>Contact<img class="battery" src="~/assets/img/lighting.svg" alt="battery"></h1>
              </div>

              <p class="content letter-spaced size20">For any inquires</p>

              <address class="content letter-spaced size20">
                  <p> <img src="~/assets/img/smartphone.svg" alt="icon"> +86-13006398245</p>
                  <p> <img src="~/assets/img/message.svg" alt="icon"> dhudukiot@gmail.com</p>
              </address>

          </div> <!-- section-end -->

      </div> <!-- conatainer -->

      <div class="footer">
          <a href="https://drive.google.com/file/d/1csT36rG98IPTPkVwE0wsEczD11dMDJ8K/view" class="btn">Download Presentation</a>
          <p>Dhuduk is an IoT powering a new <br> power bank rental stations network.</p>
          <p class="copy"> &copy; Dhuduk 2021</p>
      </div>
  </div>

</template>

<script>
export default {};
</script>

